/*引入公共样式 包含头部 导航 尾部*/ 
@import 'common.scss';


main{
	width:100%;
	.container{
		padding-top:20px;
		.register_main{
			width: 960;
			height: 489px;
			padding-top:28px;
			background:url(imgs/main.jpg);
			.register_logo{
				width:373px;
				height: 142px;
				margin:28px 0 0 67px;;
				background:url(imgs/register_bg.png);
			}
			.register_title{
				color:#8E0C3A;
				height:60px;
				p{margin-left:212px;    font-size: 17px;}
			}
			.input{
				margin-left:106px;
				
				.input_t {
					input{
						width: 202px;
						height: 18px;
						border:1px solid #ccc;
						outline:none;
						padding: 0 0 0 2px;
						
					}
					div{
						width: 856px;
						height: 40px;
						.active{
							border:1px solid $e;
						}
					}					
				}				
				.input_b{
					margin-left:70px;
					div{
						width: 204px;
					}
					.register_subscribe{
						margin-bottom:22px;
					}
					.submit{
						.submit_btn{
							width: 204px;
							height: 30px;
							background-color:#8E0C3A;
							border:0;
							outline:none;
							color:#fff;
							cursor:pointer;
						}
					}
					.output{
						width:204px;
						height: 28px;
						line-height:28px;
						
						color:$e;
					}
				}
			}
		}
	}
}